@page "/counter"
@using pocketbase.net;
@using System.Text.Json;
@inject Pocketbase pb

<PageTitle>Posts</PageTitle>


@if (myposts is not null)
{
    @foreach (var post in myposts)
    {
       <div class="container">
        <h1>@post.test</h1>
         
        <h2>@post.post</h2>
       </div>
    }
}


<style>
    .container{
        border: solid 1px lightgray;
        margin: 2rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
    }
</style>