@page "/counter"
@using pocketbase.net;
@using System.Text.Json;
@inject Pocketbase pb

<PageTitle>Posts</PageTitle>


@if (myposts is not null)
{
    @foreach (var post in myposts)
    {
       <div class="container">
        <h1>@post.test</h1>
         
        <h2>@post.post</h2>
       </div>
    }
}

<img src="@imageurl" alt="its a image"  />
<button @onclick="getFileurll">get img</button>

@code{
    private string imageurl = "";

    async private void getFileurll()
    {
        var det = await  pb.Collections("det").GetFirstListItem<Det>("when=1");
        imageurl = pb.GetFileUrl(det, det.field);
        StateHasChanged();

    }

    class Det : pocketbase.net.Models.Helpers.PbBaseModel
    {
        public bool deleted { get; set; }
        public int when { get; set; }
        public string field { get; set; } = "";
    }
}


<style>
    .container{
        border: solid 1px lightgray;
        margin: 2rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
    }
</style>