@page "/counter"
@using pocketbase.net;
@using System.Text.Json;
@inject Pocketbase pb

<PageTitle>Posts</PageTitle>


@*@if (myposts is not null)
{
    @foreach (var post in myposts)
    {
       <div class="container">
        <h1>@post.details</h1>
         
        <h2>@post.title</h2>
       </div>
    }
}
*@
<img src="@imageurl" alt="its a image"  />
<button @onclick="sub">get img</button>
<button @onclick="getmeth">get img</button>


@code{
    private string imageurl = "";

    async private void getFileurll()
    {
        var det = await  pb.Collections("det").GetFirstListItem<Det>("when=1");
        imageurl = pb.GetFileUrl(det, det.field);
        StateHasChanged();

    }

    async private void getmeth()
    {
        var det = await pb.Collections("todo").ListAuthMethods();
        Console.WriteLine(det);
        var dett = await pb.Collections("namin").GetFullList();
        Console.WriteLine(dett);
    }

    class Det : pocketbase.net.Models.Helpers.PbBaseModel
    {
        public bool deleted { get; set; }
        public int when { get; set; }
        public string field { get; set; } = "";
    }
}


<style>
    .container{
        border: solid 1px lightgray;
        margin: 2rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
    }
</style>